$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$margin: 2.5%;
$card-border-width: 2px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: aliceblue;
  margin: $margin;
}

.pairs-board {
  font-size: 3em;
  text-align: center;
}

.row {
  //height: 18vh; /* 18% of viewport height*/
  color: white;
  border: 2px solid lightcoral;
}

.col-sm-2 {
  border: $card-border-width solid beige;
  background-color: mediumpurple;
  padding: calc(95%/12 - #{$card-border-width}*12);
}

//If I wanted to overwrite something for all column classes
/*[class*="col-"]{
  border: $card-border-width solid beige;
  background-color: mediumpurple;
  padding: calc(95%/12 - #{$card-border-width}*12);
}*/
