$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: aliceblue;
}

.col-md-2 {
  border: 1px solid white;
  color: white;
  background-color: blueviolet;
  height: 20vh; /* 20% of viewport height*/
}

.col-sm-4 {
  //height: 10vh; /* 20% of viewport height*/
}